<div id="main-content-wp" class="clearfix detail-blog-page">
    <div class="wp-inner">
        <div class="secion" id="breadcrumb-wp">
            <div class="secion-detail">
                <ul class="list-item clearfix">
                    <li>
                        <a href="" title="">Trang chủ</a>
                    </li>
                    <li>
                        <a href="" title="">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content fl-right">
            <div class="section" id="detail-blog-wp">
                <div class="section-head clearfix">
                    <h3 class="section-title">Liên hệ</h3>
                </div>
                <div class="section-detail">
                    <span class="create-date"><i class="fa-regular fa-clock"></i><span class="mx-2">12/01/2024</span></span>
                    <div class="detail">
                       <p class="text-center"><img class="d-block my-3" src="/images/contact.png" alt="" width="700" height="474"></p>
                        <p>- <strong>Công ty TNHH B3TSHOP</strong></p>
                        <p> - <strong>Địa chỉ đăng ký kinh doanh:</strong> Tòa Nhà Viettel, Số 285, Đường Cách Mạng Tháng 8 - Phường 12 - Quận 10 - TP Hồ Chí Minh - Việt Nam.</p>
                        <p>Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 06/01/2020. Quý khách có nhu cầu liên lạc, trao đổi hoặc đóng góp ý kiến, vui lòng tham khảo các thông tin sau:</p>
                        <p><strong>- Liên lạc qua điện thoại:</strong> 1900 6035 - <strong>Email:</strong> Truy cập hotro.b3tshop.vn</p>
                        <p><strong>- Fanpage của B3TSHOP:</strong> <a style="color: #333;" href="http://facebook.com/b3tshop.vn">http://facebook.com/b3tshop.vn</a></p>
                        <p><strong> - Đối tác có nhu cầu hợp tác quảng cáo hoặc kinh doanh:</strong> <a style="color: #333;" href="mailto:marketing@b3tshop.vn">marketing@ismart.vn</a></p>
                        <p> <strong>- Văn phòng chính:</strong> Tòa nhà Viettel, 285 Cách Mạng Tháng 8, Phường 12, Quận 10, Thành phố Hồ Chí Minh. </p>
                         <p><strong>- Văn phòng:</strong> 52 Út Tịch, Phường 4, Quận Tân Bình, Thành Phố Hồ Chí Minh.</p>
                    </div>
                </div>
            </div>
            
        </div>
       {{> sidebar}}
    </div>
</div>