<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/import/login.css" />
</head>

<body class="img js-fullheight" style="background-image: url(/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 text-center mb-5">
                    <h1 class="display-5 font-weight-bold" style="color:#FBCEB5">Đăng nhập</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="login-wrap p-4">
                        <form action="/auth/login" class="signin-form" id="loginForm">
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Tài khoản"
                                    required />
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" name="password"
                                    placeholder="Password" required />
                                <span toggle="#password-field"
                                    class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Đăng
                                    nhập</button>
                            </div>
                            <div class="form-group">
                                <div class="w-100">
                                    <label class="checkbox-wrap checkbox-primary">
                                        Nhớ tài khoản
                                        <input type="checkbox" checked />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </form>
                        <p class="w-100 text-center">&mdash; Đăng nhập với &mdash;</p>
                        <div class="social d-flex text-center">
                            <a href="/auth/google" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-google mr-2"></span>
                                Google</a>
                        </div>
                        <p class="mt-2">Chưa có tài khoản? <a class="sign-up" href="/auth/register">Đăng ký </a> !</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal Thông Báo -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Thông Báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Đăng nhập thành công! Bạn sẽ được chuyển hướng trong <span id="countdown">3</span> giây.
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/login.js"></script>
</body>

</html>