<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/payment">PAYMENT</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav w-100">
                    <div class="mx-auto">
                        <a class="nav-link d-inline" href="/deposit">Nạp Tiền</a>
                        <a class="nav-link d-inline" href="/history">Lịch Sử Giao Dịch</a>
                    </div>

                    <div class="ml-auto">
                        <span class="navbar-text">
                            Welcome, {{username}}
                        </span>
                        <span class="navbar-text">
                            | Số Dư: {{formatPrice balance}}
                        </span>
                        <span>
                            | <a href="/logout" onclick="handleLogout()" style="text-decoration: none;">Đăng Xuất</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<script>
    function handleLogout() {
        fetch('/logout')
            .then(response => {
                if (response.ok) {
                    window.close();
                } else {
                    throw new Error('Đăng xuất thất bại');
                }
            })
            .catch(error => {
                alert(error.message);
            });
        return false; 
    }
</script>