<div id="page-body" class="d-flex">
  <div id="sidebar" class="bg-white">
    <ul id="sidebar-menu">
      <li class="nav-link active">
        <a href="" class="text-decoration-none">
          <div class="nav-link-icon d-inline-flex">
            <i class="far fa-folder"></i>
          </div>
          Sản phẩm
        </a>
        <i class="arrow fas fa-angle-down"></i>
        <ul class="sub-menu">
          <li><a class="text-decoration-none" href="/admin/product/add">Thêm mới</a></li>
          <li><a class="text-decoration-none" href="/admin/product/list">Danh sách</a></li>

        </ul>
      </li>
      <li class="nav-link active">
        <a href="/admin/categories" class="text-decoration-none">
          <div class="nav-link-icon d-inline-flex">
            <i class="far fa-folder"></i>
          </div>
          Danh mục
        </a>
      </li>
      <li class="nav-link active">
        <a href="/admin/orders" class="text-decoration-none">
          <div class="nav-link-icon d-inline-flex">
            <i class="far fa-folder"></i>
          </div>
          Đơn hàng
        </a>
      </li>
      <li class="nav-link active">
        <a href="/admin/users" class="text-decoration-none">
          <div class="nav-link-icon d-inline-flex">
            <i class="far fa-folder"></i>
          </div>
          Người dùng
        </a>
      </li>
    </ul>
  </div>
</div>