 <nav class="topnav shadow navbar-light bg-white d-flex">
            <div class="navbar-brand"><a href="?" class="text-decoration-none">B3TSHOP ADMIN</a></div>
            <div class="nav-right ">
                <div class="btn-group mr-auto">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="plus-icon fas fa-plus-circle"></i>
                        </button>
                       <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin/product/add">Thêm sản phẩm</a>
                        <a class="dropdown-item" href="/admin/product/category">Thêm danh mục</a>
                        </div>
                    </div>
                </div>

                <div class="btn-group">
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        DUC BA
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Tài khoản</a>
                            <a class="dropdown-item" href="#">Thoát</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>