<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
    <div class="container">
        <a class="navbar-brand" href="#">Admin</a>

        <div class="d-flex justify-content-between align-items-center flex-grow-1">

            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/categories">Categories</a>
                    </li>
                </ul>
            </div>

            <div>
                <ul class="navbar-nav">
                    <li class="info " id="info">
                        <a class="nav-link" href="/auth/logout" title="">Đăng xuất</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>