 <div id="page-body" class="d-flex">
            <div id="sidebar" class="bg-white">
                <ul id="sidebar-menu">                  
                    <li class="nav-link active">
                        <a href="" class="text-decoration-none" >
                            <div class="nav-link-icon d-inline-flex">
                                <i class="far fa-folder"></i>
                            </div>
                            Sản phẩm
                        </a>
                        <i class="arrow fas fa-angle-down"></i>
                        <ul class="sub-menu">
                            <li><a class="text-decoration-none" href="/admin/product/add">Thêm mới</a></li>
                            <li><a class="text-decoration-none" href="/admin/product/list">Danh sách</a></li>
                            <li><a class="text-decoration-none" href="/admin/category">Danh mục</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>