<div class="sidebar fl-left">
    <div class="section" id="category-product-wp">
        <div class="section-head">
            <h3 class="section-title">Danh mục sản phẩm</h3>
        </div>
        <div class="secion-detail">
            <ul class="list-item">
                <li>
                    <a href="/category/phone" title="" class="d-flex justify-content-between align-items-center"> <span>Điện thoại</span> <i class="fa-solid fa-chevron-right"></i></a>
                    <ul class="sub-menu">
                        <li>
                            <a href="" title="">Iphone</a>
                        </li>
                        <li>
                            <a href="" title="" class="d-flex justify-content-between align-items-center"> <span>Samsung</span> <i class="fa-solid fa-chevron-right"></i></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="" title="">Iphone X</a>
                                </li>
                                <li>
                                    <a href="" title="">Iphone 8</a>
                                </li>
                                <li>
                                    <a href="" title="">Iphone 8 Plus</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" title="">Oppo</a>
                        </li>
                        <li>
                            <a href="" title="">Bphone</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" title="">Máy tính bảng</a>
                </li>
                <li>
                    <a href="" title="">Laptop</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="section" id="selling-wp">
        <div class="section-head">
            <h3 class="section-title">Sản phẩm bán chạy</h3>
        </div>
        <div class="section-detail">
            <ul class="list-item">
                <li class="clearfix">
                    <a href="product/detail/1" title="" class="thumb fl-left">
                        <img src="/images/img-pro-01.png" alt="" />
                    </a>
                    <div class="info fl-right">
                        <a href="product/detail/1" title="" class="product-name">Laptop Asus A540UP I5</a>
                        <div class="price">
                            <span class="new">5.190.000đ</span>
                            <span class="old">7.190.000đ</span>
                        </div>
                        <a href="" title="" class="buy-now">Mua ngay</a>
                    </div>
                </li>
                <li class="clearfix">
                    <a href="product/detail/1" title="" class="thumb fl-left">
                        <img src="/images/img-pro-01.png" alt="" />
                    </a>
                    <div class="info fl-right">
                        <a href="product/detail/1" title="" class="product-name">Laptop Asus A540UP I5</a>
                        <div class="price">
                            <span class="new">5.190.000đ</span>
                            <span class="old">7.190.000đ</span>
                        </div>
                        <a href="" title="" class="buy-now">Mua ngay</a>
                    </div>
                </li>
                <li class="clearfix">
                    <a href="product/detail/1" title="" class="thumb fl-left">
                        <img src="/images/img-pro-01.png" alt="" />
                    </a>
                    <div class="info fl-right">
                        <a href="product/detail/1" title="" class="product-name">Laptop Asus A540UP I5</a>
                        <div class="price">
                            <span class="new">5.190.000đ</span>
                            <span class="old">7.190.000đ</span>
                        </div>
                        <a href="" title="" class="buy-now">Mua ngay</a>
                    </div>
                </li>
                <li class="clearfix">
                    <a href="product/detail/1" title="" class="thumb fl-left">
                        <img src="/images/img-pro-01.png" alt="" />
                    </a>
                    <div class="info fl-right">
                        <a href="product/detail/1" title="" class="product-name">Laptop Asus A540UP I5</a>
                        <div class="price">
                            <span class="new">5.190.000đ</span>
                            <span class="old">7.190.000đ</span>
                        </div>
                        <a href="" title="" class="buy-now">Mua ngay</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
