<div class="sidebar fl-left">
    <div class="section" id="category-product-wp">
        <div class="section-head">
            <h3 class="section-title">Danh mục sản phẩm</h3>
        </div>
        <div class="section-detail">
            <ul class="list-item">
                {{#each categories}}
                <li>
                    <a href="/categories/{{this.CategoryID}}?page=1" title=""
                        class="d-flex justify-content-between align-items-center"> <span>{{this.CategoryName}}</span> <i
                            class="fa-solid fa-chevron-right"></i></a>
                    {{#if this.subcategories}}
                    <ul class="sub-menu">
                        {{#each this.subcategories}}
                        <li>
                            <a href="/categories/{{this.CategoryID}}" title="">{{this.CategoryName}}</a>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="section" id="selling-wp">
        <div class="section-head">
            <h3 class="section-title">Sản phẩm bán chạy</h3>
        </div>
        <div class="section-detail">
            <ul class="list-item">
                <li class="clearfix">
                    <a href="product/detail/1" title="" class="thumb fl-left">
                        <img src="/images/img-pro-01.png" alt="" />
                    </a>
                    <div class="info fl-right">
                        <a href="product/detail/1" title="" class="product-name">Laptop Asus A540UP I5</a>
                        <div class="price">
                            <span class="new">5.190.000đ</span>
                            <span class="old">7.190.000đ</span>
                        </div>
                        <a href="" title="" class="buy-now">Mua ngay</a>
                    </div>
                </li>
                <li class="clearfix">
                    <a href="product/detail/1" title="" class="thumb fl-left">
                        <img src="/images/img-pro-01.png" alt="" />
                    </a>
                    <div class="info fl-right">
                        <a href="product/detail/1" title="" class="product-name">Laptop Asus A540UP I5</a>
                        <div class="price">
                            <span class="new">5.190.000đ</span>
                            <span class="old">7.190.000đ</span>
                        </div>
                        <a href="" title="" class="buy-now">Mua ngay</a>
                    </div>
                </li>
                <li class="clearfix">
                    <a href="product/detail/1" title="" class="thumb fl-left">
                        <img src="/images/img-pro-01.png" alt="" />
                    </a>
                    <div class="info fl-right">
                        <a href="product/detail/1" title="" class="product-name">Laptop Asus A540UP I5</a>
                        <div class="price">
                            <span class="new">5.190.000đ</span>
                            <span class="old">7.190.000đ</span>
                        </div>
                        <a href="" title="" class="buy-now">Mua ngay</a>
                    </div>
                </li>
                <li class="clearfix">
                    <a href="product/detail/1" title="" class="thumb fl-left">
                        <img src="/images/img-pro-01.png" alt="" />
                    </a>
                    <div class="info fl-right">
                        <a href="product/detail/1" title="" class="product-name">Laptop Asus A540UP I5</a>
                        <div class="price">
                            <span class="new">5.190.000đ</span>
                            <span class="old">7.190.000đ</span>
                        </div>
                        <a href="" title="" class="buy-now">Mua ngay</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>

</script>